.slider {
    -webkit-appearance: none;
    height: 0.5rem;
    border-radius: 5px;
    background: #EDF2F7;
    outline: none;
}
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #4A5568;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EDF2F7;
    cursor: pointer;
  }